DATABASE_URL="mysql://root:rootpassword@localhost:3306/vinabooking"

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PWD=rootpassword
MYSQL_ROOT_PASSWORD=rootpassword
DB_NAME=vinabooking

S3_BUCKET_NAME=your-bucket-name
S3_REGION=your-s3-region

COGNITO_APP_CLIENT_ID=your-app-client-id
COGNITO_USER_POOL_ID=your-user-pool-id
COGNITO_REGION=your-region

AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-access-key

SESSION_SECRET=secret

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-client-secret
GOOGLE_REDIRECT_URI=http://localhost:8080/auth/google/callback

BACKEND_SECRET_KEY=your-backend-secret-key

CLIENT_URL=your-client-url # http://localhost:5173
REDIS_ENDPOINT=redis://localhost:6379

GMAIL_APP_USER="youremail@gmail.com"
GMAIL_APP_PASSWORD="your gmail app password"

PAYOS_CLIENT_ID = your-payos-client-id
PAYOS_API_KEY =  your-payos-api-key
PAYOS_CHECKSUM_KEY = your-payos-checksum-key