DATABASE_URL="mysql://root:rootpassword@localhost:3306/vinabooking"
COGNITO_APP_CLIENT_ID=your-app-client-id
COGNITO_USER_POOL_ID=your-user-pool-id
COGNITO_REGION=your-region
SESSION_SECRET=secret
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-access-key
GOOGLE_CLIENT_ID=your-google-client-id
CLIENT_URL=your-client-url
REDIRECT_URI=redirect-uri
REDIS_ENDPOINT=""
