PORT=
DB_NAME=auth_db
COGNITO_APP_CLIENT_ID=
COGNITO_USER_POOL_ID=
COGNITO_REGION=
SESSION_SECRET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
DATABASE_URL="mysql://root:rootpassword@localhost:3306/auth_db"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI=
CLIENT_URL=