VITE_GOOGLE_CLIENT_ID=your-google-client-id
VITE_API_URL=http://localhost:3000/
VITE_ACCESS_TOKEN_KEY=access_token
VITE_USER_KEY=user_data
VITE_S3_BUCKET_NAME=
VITE_S3_REGION=
VITE_REFRESH_TOKEN_KEY=refresh_token
VITE_OWNER_KEY=owner_data