ACCOMMODATION_ENDPOINT=http://accommodation-service:3001
AUTH_ENDPOINT=http://auth-service:3002
BOOKING_ENDPOINT=http://booking-service:3003
REVIEW_ENDPOINT=http://review-service:3004
ROOM_ENDPOINT=http://room-service:3005
USER_ENDPOINT=http://user-service:3006
IMAGE_ENDPOINT=http://image-service:3007
